:root {
    --body-background-color: #000;
    --priorities-background-color: #191c24;
    --text-color: #fff;
    --box-shadow-color: #0f0f0f;
    --border-color: gray;
    --scroll-background-color: #000;
    --scroll-color: #fff;
    --btn-color: #a61d23;
    --btn-color-hover: #0f0f0f;
    --text-color-dark: #000;
    --text-color-dark-hover: #fff;
    --text-color-subtitle: skyblue;
    --today: rgba(156, 202, 235, 1);
    --other-day: rgba(255, 255, 255, .3);
    --day-name: rgba(255, 255, 255, .5);
    --table-header-background: rgb(27, 30, 36);
    --table-header-text: rgb(220, 220, 220);
    --menu-header: rgba(255, 255, 255, 0.5);
}

.light-theme {
    --body-background-color: #fff;
    --menu-header: rgba(255, 255, 255, 0.5);
    --priorities-background-color: #f4f4f4;
    --text-color: #000;
    --box-shadow-color: skyblue;
    --border-color: #0f0f0f;
    --scroll-background-color: #fff;
    --scroll-color: #000;
    --btn-color: #0f0f0f;
    --btn-color-hover: #a61d23;
    --text-color-dark: #fff;
    --text-color-subtitle: gray;
    --text-color-dark-hover: #000;
    --today: rgb(0, 0, 175);
    --day-name: rgba(53, 50, 50, 0.5);
    --other-day: rgba(48, 47, 47, 0.3);
    --table-header-background: rgb(151, 148, 148);
    --table-header-text: rgb(27, 30, 36);
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--body-background-color);
}


/*home*/

.home-content {
    width: 100%;
}

.row {
    display: flex;
}

.priorities {
    width: 50%;
    border-radius: 10px;
    border: .4px solid var(--border-color);
    color: var(--text-color);
    min-height: 18rem;
    max-height: 18rem;
}

.priorities:nth-child(1) {
    background-color: var(--priorities-background-color);
    box-shadow: 4px 4px 6px var(--box-shadow-color);
}

.priorities:nth-child(2) {
    margin-left: 22px;
    border: 0;
    display: flex;
    justify-content: space-between;
}

.todoList {
    width: 50%;
    border-radius: 10px;
    border: .4px solid var(--border-color) !important;
    background-color: var(--priorities-background-color);
    box-shadow: 4px 4px 6px var(--box-shadow-color);
}

.todoList:not(:first-child) {
    margin-left: 10px;
}

.priorities-header:not(:first-child) {
    height: 5rem;
    display: flex;
    flex-direction: row!important;
    justify-content: stretch;
    border-bottom: .4px solid var(--border-color);
    text-align: center;
}

.taskes {
    display: flex;
    flex-direction: row!important;
}

.priorities-nav ul {
    list-style-type: none;
    display: flex;
}

.priorities-nav ul a {
    font-size: 16px;
    color: #666666;
    margin-left: 10px;
    cursor: pointer;
}

.priorities-nav ul a:active {
    border-bottom: 2px solid var(--border-color);
}

.active {
    border-bottom: 3px solid var(--border-color);
}

.priorities-list {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    scrollbar-color: var(--scroll-color) var(--scroll-background-color);
    scrollbar-width: thin;
}

.st_viewport::-webkit-scrollbar,
.priorities-list::-webkit-scrollbar {
    width: 11px;
}

.st_viewport::-webkit-scrollbar-track,
.priorities-list::-webkit-scrollbar-track {
    background: var(--scroll-background-color);
}

.st_viewport::-webkit-scrollbar-thumb,
.priorities-list::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 6px;
    border: 3px solid var(--scroll-background-color);
}

.priority {
    display: flex;
    width: 100%;
    border-bottom: .4px solid var(--border-color);
    justify-content: space-between;
}

.priority .tasks {
    display: flex;
}

.taskInput {
    background-color: transparent !important;
    border: none;
    color: var(--text-color);
    margin-right: 100px;
}

.taskPriode {
    font-size: small;
}

.pro-status {
    width: 100%;
    margin-bottom: 20px
}

.pro {
    flex: 1;
    background-color: var(--priorities-background-color);
    box-shadow: 4px 4px 6px var(--border-color);
    text-align: center;
    border-radius: 10px;
    color: var(--text-color);
}

.pro p {
    color: var(--text-color-subtitle);
    font-size: small
}

.pro:not(:first-child) {
    margin-left: 15px;
}

.priority span {
    font-size: 75%
}

.task-pro {
    width: 100%;
    text-align: right;
    font-size: 55%;
    color: var(--text-color-subtitle);
}

.tasks-todo {
    width: 100%;
}

.new {
    color: white;
}

.stil-progress {
    color: yellow;
}

.complete {
    color: green;
}


/*menu*/

.menu {
    --duration: .5s;
    --easing: ease-in-out;
    position: relative;
    clear: both;
    margin: 20px;
    float: left;
    width: 18%;
}

.menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: -4px 0 0 0;
    color: var(--text-color-subtitle);
    font-size: 85%
}

.menu a {
    display: block;
    text-decoration: none;
    background: white;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
    color: #18714f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.menu a:hover {
    background: #efefef;
}

.menu .sub-menu {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
    box-shadow: 5px 0px 6px #666666;
}

.menu .sub-menu a:hover {
    background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}

.menu .header {
    font-weight: 600;
    display: block;
    background: var(--menu-header);
    transform-origin: 0 0;
    transition: var(--duration) var(--easing), color var(--duration) var(--easing);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1em 1.52em;
    box-shadow: 5px 0px 6px #666666;
}

.menu .header span {
    border: none;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    float: right;
}

.menu .footer button {
    position: absolute;
    top: o;
    left: 0;
    border: none;
    padding: calc(1em - 2em);
    width: 100%;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (var(--count) / 2));
    cursor: pointer;
    outline: none;
    background: #cdcdcd;
    opacity: 0;
}

.menu.closed a,
.menu.closed header {
    transform: translateY(calc(--top) * -1) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
}

.menu .closed .footer button {
    transition-delay: 0s;
    transform: translateY(0.7) scaleX(0.2);
}


/*header*/

header {
    /*background:#18714f;*/
    background: var(--priorities-background-color);
    color: var(--text-color);
    padding: 17px!important;
    height: 70px;
    border-bottom: #FFFF00 3px solid;
}

.moon {
    filter: var(--moon-filter);
}

header a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header li {
    display: inline;
    padding: 0 5px 0 5px;
}

header #branding {
    float: left;
}

.toggleare {
    color: white;
    padding: 10px;
    display: none;
    float: left;
}

.toggleare label {
    background-color: white;
    height: 45px;
    width: 55px;
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.toggleare label span {
    background-color: var(--background-color);
    width: 40px;
    height: 4px;
    margin: 2px 0px;
}

header #branding h1 {
    margin: 0;
}

.highlights {
    color: var(--text-color-dark);
    font-weight: bold;
}

header .highlight,
header .current a {
    color: #a61d23;
    font-weight: bold;
}

.form-login {
    flex-direction: column;
    display: none;
}

.form input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#login:checked+.form {
    display: inline;
    flex-direction: column;
}

#login:checked+.lb {
    display: none;
}

#login {
    display: none;
}

.form-login input[type=submit] {
    display: none;
}

.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 50%;
}

.search-container {
    justify-content: flex-end;
}

.search-container .search {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    display: none;
}

.search-container button:hover {
    background: #ccc;
}


/*showcase*/


/*sidebar*/


/*.dark{
	padding: 15px;
	background:#35424a;
	color: #ffffff;
	margin-top: 10px;
	
	height: 50px;
}*/

.ft {
    background: rgba(255, 255, 200, 5);
    border-radius: 4px;
    box-shadow: 2px 0px 6px #666666;
}


/*showcase*/

#showcase .container {
    min-height: 1px;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    float: left;
    box-shadow: 2px 3px 6px var(--border-color);
}

.post {
    width: 100%;
    padding: 30px;
    color: var(--text-color)
}


/*REPORT*/

.week-rep {
    width: 100%;
}

.week-rep h1 {
    font-size: 24px;
    text-align: center;
}

.rep-header {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.rep-head {
    display: flex;
    flex-direction: row;
}

.rep-activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activity {
    border: 1px solid;
    width: 100%;
    margin-bottom: 15px
}

.activity-head {
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
    background-color: #6666666c;
    font-weight: bold;
    font-size: 17px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.sub-head,
.sub-body {
    flex: 1;
    text-align: start;
}

.activity-body {
    width: 100%;
    padding-left: 20px;
    font-size: 14px;
}

.activity-body ul {
    list-style-type: georgian;
}


/*form*/

input[type=text],
input[type=password],
input[type=date],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: var(--body-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--btn-color);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--btn-color-hover);
    color: var(--text-color-dark-hover)
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--text-color);
    resize: none;
}

#showcase {
    min-height: 1px;
    padding: 4px;
    color: black;
    width: 76%;
    border-radius: 10px;
    margin-top: 20px;
    float: left;
}

#showcase .ttle {
    font-size: 20px;
}

.y img {
    width: 450px;
}

.comment input[type="text"] {
    padding: 15px;
    height: 25px;
    width: 250px;
}

.comment input[type="submit"] {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
}

.comment textarea {
    padding: 15px;
    height: 25px;
    width: 250px;
}

aside.sidebar {
    width: 24%;
    min-height: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    box-shadow: -5px 5px 6px #666666;
}

aside#ads {
    width: 24%;
    max-height: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 17px;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

#toggle {
    display: none;
}

.togglearea {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background-color: white;
    height: 45px;
    width: 50px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: black;
    width: 40px;
    height: 4px;
    margin: 2px 0px;
}

.togglearea {
    display: none;
}

.menuu {
    display: none;
}

#drop {
    display: none;
}

@media(max-width: 900px) {
    .navbar {
        flex-direction: column-reverse;
        display: none;
        background: black;
        height: 500px;
    }
    #toggle:checked+.navbar {
        display: flex;
    }
    #toggle:checked+#branding {
        display: none;
    }
    .togglearea {
        display: flex;
    }
    .toggleare {
        display: flex;
    }
    #drop {
        display: none;
    }
    #drop:checked+.menuu {
        display: flex;
    }
    header li {
        display: flex;
    }
    header {
        position: fixed;
        width: 100%;
    }
    .ft {
        clear: both;
    }
    .comment {
        text-align: center;
        width: 100%;
        float: none;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .comment textarea {
        display: block;
        width: 100%;
    }
    .comment input[type="submit"] {
        display: block;
        width: 100%;
    }
    .comment input[type="text"] {
        display: block;
        width: 100%;
    }
    section#sidebar,
    section.menu {
        display: none;
    }
    #newslatter h1,
    #newslatter form,
    #author .author,
    article#main-col {
        text-align: center;
        width: 100%;
    }
    section#showcase image {
        width: 100px;
        float: left;
    }
    .pr {
        float: right;
    }
    section#showcase {
        width: 100%;
        margin-top: 80px;
    }
    .menuu {
        --duration: .5s;
        --easing: ease-in-out;
        position: fixed;
        margin: 70px;
        margin-left: 0px;
        width: 100%;
        display: none;
        flex-direction: column;
    }
    .menuu ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menuu li {
        margin: -10px 0 0 0;
    }
    .menuu a {
        display: block;
        text-decoration: none;
        background: white;
        transform-origin: 0 0;
        transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
        transition-delay: var(--delay-out);
        border-radius: 4px;
        padding: 1em 1.52em;
        color: #18714f;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    .menuu a:hover {
        background: #efefef;
    }
    .menuu .sub-menu {
        font-size: .9em;
        color: #666666;
        border-left: 0em solid white;
        padding: .70em;
        background: linear-gradient(to right, #dddddd 1px, #ffffff 1px);
    }
    .menuu .sub-menu a:hover {
        background: linear-gradient(to right, #dddddd 1px, #efefef 1px);
    }
    .menuu.closed a,
    .menu.closed header {
        transform: translateY(calc(--top) * -1) scaleY(0.1) scaleX(0.2);
        transition-delay: var(--delay-in);
        color: transparent;
    }
    .menuu .closed .footer button {
        transition-delay: 0s;
        transform: translateY(0.7) scaleX(0.2);
    }
}


/*badge*/

:root {
    --base-color: #0071f6;
}

.badge {
    -webkit-animation: introduceBadge 1s linear 0s 1 both;
    animation: introduceBadge 1s linear 0s 1 both;
    background: rgba(0, 113, 246, 0.2);
    border-radius: 50%;
    height: 27px;
    perspective: 40px;
    position: absolute;
    width: 27px;
    right: 1em;
}

.badge:before,
.badge:after {
    -webkit-animation: pulseBadge 3s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite both;
    animation: pulseBadge 3s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite both;
    border: 2px dashed #0071f6;
    border-radius: inherit;
    bottom: -6px;
    content: "";
    left: -6px;
    opacity: 0.2;
    position: absolute;
    right: -6px;
    top: -6px;
}

.badge:after {
    -webkit-animation-name: pulseBadge2;
    animation-name: pulseBadge2;
    bottom: -10px;
    left: -10px;
    opacity: 0.1;
    right: -10px;
    top: -10px;
}


/*
@-webkit-keyframes introduceLabel {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4) rotateY(-1800deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotateY(20deg);
    }
}

@keyframes introduceLabel {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4) rotateY(-1800deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotateY(20deg);
    }
}
*/

@-webkit-keyframes rotateLabel {
    0% {
        transform: translate(-50%, -50%) rotateY(20deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateY(-20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(20deg);
    }
}

@keyframes rotateLabel {
    0% {
        transform: translate(-50%, -50%) rotateY(20deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateY(-20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(20deg);
    }
}

.badge__label {
    -webkit-animation: introduceLabel 2s cubic-bezier(0.19, 1, 0.22, 1) 1s 1 both, rotateLabel 5s linear 3s infinite;
    animation: introduceLabel 2s cubic-bezier(0.19, 1, 0.22, 1) 1s 1 both, rotateLabel 5s linear 3s infinite;
    color: var(--base-color);
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 8px rgba(0, 113, 246, 0.2);
    top: 50%;
    transform: translate(-50%, -50%);
}


/*profile*/

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-profile h1 {
    font-size: xx-large;
    font-weight: bold;
}

.statistics-profile {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 3px 6px #0f0f0f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-contact a {
    text-decoration: none !important;
    color: #a61d23;
    font-size: smaller;
}

.projects {
    flex: 1;
    text-align: center;
}

.projects h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #a61d23;
}

.projects span {
    font-size: large
}

.credential {
    width: 100%;
    margin-top: 20px;
}

label {
    font-size: small
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #17a2b8;
    color: #fff;
    background-color: #17a2b8;
}


/*monthly*/

.monthlyReport {
    width: 100%;
    border: 1px solid var(--border-color);
}

.monthlyHeader {
    width: 100%;
    height: 5vw;
    background-color: var(--text-color-subtitle);
    text-align: center;
    font-size: 1.8vw;
}

.monthlyCompleted {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headerComp {
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.comp {
    background-color: rgb(241, 241, 77);
}

.notStarted {
    background-color: rgb(94, 94, 90);
}

.progress {
    background-color: rgb(180, 180, 175);
}

.bodyComp {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.compSubBody {
    width: 100%;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
}

.compSubBody .head {
    flex: 1;
    height: 2vw;
    border-right: 1px solid var(--border-color);
}

.compSubBody .bodyContent {
    flex: 1;
    border-right: 1px solid var(--border-color);
}


/* Popup container - can be anything you want */

.popup {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* pop display*/

.model-container {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.model-open {
    display: flex;
}

.model {
    max-width: 90vw;
    background-color: white;
    border-radius: 3px;
}

.model-button {
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: none;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 3px;
    margin-left: 0.5em;
}

.model-confirm-btn {
    background-color: tomato;
}

.model-header {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.model-header h2 {
    margin: 1em;
}

.model-header span {
    align-self: flex-end;
    padding-right: 0.3em;
    cursor: pointer;
}

.model-content {
    margin: 1em;
    height: 50vh;
    overflow-y: auto;
    font-size: 10px;
}

.model-footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex-end;
}


/*table*/

.workiing-on-projects {
    width: 100%;
    margin-top: 20px;
    font-family: sans-serif;
    color: rgb(220, 220, 220);
    overflow-x: hidden;
}

a {
    color: inherit;
}

p {
    margin-top: .7em;
}

.warning {
    color: rgb(62, 148, 236);
}

.st_viewport {
    max-height: 500px;
    overflow: auto;
    scrollbar-color: #fff #000;
    scrollbar-width: thin;
    margin-top: 0!important;
}

._rank {
    min-width: 80px;
}

._id {
    min-width: 60px;
}

._name {
    min-width: 130px;
}

._surname {
    min-width: 130px;
}

._year {
    min-width: 80px;
}

._section {
    min-width: 130px;
}

pre {
    overflow: auto;
}


/** Sticky table styles **/

.st_viewport {
    background-color: rgb(62, 148, 236);
    color: rgb(27, 30, 36);
    margin: 20px 0;
}


/* ###  Table wrap */

.st_wrap_table {}


/* ##   header */

.st_table_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--table-header-background);
    color: var(--table-header-text);
}

.st_table_header h2 {
    font-weight: 400;
    margin: 0 20px;
    padding: 20px 0 0;
}

.st_table_header .st_row {
    color: var(--table-header-text);
}

.st_table_header .st_column {}


/* ##  table */

.st_table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--priorities-background-color);
    color: var(--border-color)
}


/* #   row */

.st_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.st_table .st_row:nth-child(even) {
    background-color: rgba(135, 207, 235, 0.116);
}


/* #   column */

.st_column {
    padding: 10px 20px;
    flex: 1;
}